/* reseteo de CSS ==> QUITAR LOS ESTILOS POR DEFAULT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}


img{
    height: 300px;
    width: 300px;
}

.productos{
    display: flex;
    flex-direction: row; /* Elemento en fila por default*/
    /*flex-direction: column; Elementos en columnas ordenados */
    /*flex-direction: row-reverse; Elementos en fila pero en reversa*/
    /*flex-direction: column-reverse; Elementos en columnas pero en reversa*/
   /*  flex-wrap: nowrap; No hace un salto de linea cuando llega al final por default */
    flex-wrap: wrap; /*Habilita el salto de linea cuando termina la ventana */
  justify-content: center;
  align-content: stretch;
}
div{
    margin: 10px;
}

.menu{
    height: 200px;
    width: 350px;
}

nav{
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    list-style-type: none;
} 

ul li{
    margin: 15px;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: black;
}

td{
    border: 2px solid black;
    padding: 10px;
}

.tablas{
    width: 80%;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

