
ol li{
    font-size: 25px;
    color: brown;
}

p{
    font-size: 35px;
    font-family: cursive;
}
ul li{
    color: red;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}