
/* para los estilos en el archivo:
 selector
  {propiedad: valor de la propiedad} */

p {
    /* 16px por default */
        color: blue;
        font-size: 25px;
}

/* 1. Selector con ID, usarlo preferentemente 1 sola vez */
#colorAzul{
  color:blue;
}

/* 2. selector de clase; si lo podemos utilizar mas de una vez */
.colorFondo{
  background-color: orange;
}

.textoGrande{
  font-size: 50px;
}


